//TCDC Colors
$tcdc-blue    : #4e9acf;
$tcdc-green   : #a1cd46;
$tcdc-orange  : #faa634;
$tcdc-white   : #FAF7F0;
$tcdc-navy    : #104879;


//from Ohm
$pale-blue  : #d9e9ef;
$light-blue : #52b1ea;
$mid-blue   : #077dc3;
$dark-blue  : #064771;
$white      : #ffffff;
$orange     : #DB7D0B;
$green      : #4a993e;
$red        : #b33630;
$yellow     : #d6c460;

$light-grey : #ddd;
$mid-grey   : #6a7076;
$dark-grey  : #222222;
$grey       : #ccc;

