//fonts

$body: 'Open Sans', Georgia, Times New Roman, serif;
$header: 'Rokkitt', Rockwell, Helvetica, Arial, sans-serif;
$base-font-size: 16px;//not needed, already default at 16
$base-line-height:6px;/*set smaller to avoid huge gaps*/
$rhythm-unit: 'rem';


